<div class="text-center">
  <span>
    Total posters: <%= @posters.count %>
  </span>
  <div>
    <% @posters.each do |poster| %>
      <%= link_to poster.title, poster %>
    </div>
  <% end %>
</div>
